<div class="container">
    {{#if error }}
        <div class="alert alert-danger show" role="alert">
            {{error}}
        </div>
    {{/if}}

    <h2>Diagnostic report</h2>

    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Type of file:</label>
        </div>

        <div class="mb-3">
            <div class="radio">
                <label>
                    <input type="radio" name="typeOfReport" id="typeOfReport1" value="diagnosticReport" checked>
                    Diagnostic
                    report
                </label>
            </div>
            <div class="radio">
                <label class="radio">
                    <input type="radio" name="typeOfReport" id="typeOfReport2" value="complianceReport"> Compliance
                    report
                </label>
            </div>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">PDF file:</label>
            <input required class="form-control" type="file" id="pdf" name="pdf">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{#if error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Something went wrong while parsing {{ filename }}: {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if }}
    {{#if values.length }}
        <hr>

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Successfully parsed {{ filename }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <table class="table table-striped table-bordered">
            <thead>
            <th class="mdl-data-table__cell--non-numeric">Code</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Value</th>
            </thead>
            <tbody>
            {{#each values}}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{this.code}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{this.value}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if }}
</div>
